
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<script src="js/parking.js" type="text/javascript"></script>
	<title>Parking karte</title>
</head>
<body>
	<form  onsubmit="return submitForme()" method="post" action="Create">

		<table>
			<tr><td>Registarska oznaka vozila</td><td><input type="text" name="registracija"/></td></tr>
			<tr><td>Početak parkinga</td><td><input type="text" name="pocetakParkinga"/></td></tr>
			<tr><td>Trajanje u minutima</td><td><input type="text" name="trajanjeUMinutima"/></td></tr>
			<tr>
				<td>Osoba sa invaliditetom</td>
				<td>
					<input type="radio" name="osobaSaInvaliditetom" value= "DA"/> DA
					<input type="radio"name="osobaSaInvaliditetom" value="NE"/> NE
				</td>
			</tr>
			<tr>
				<td>Zona</td>
				<td>
					<select name="zonaBoja">
						<option value="bela">bela</option>
						<option value="plava">plava</option>
						<option value="crvena">crvena</option>
					</select>
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
	<hr/>
	<table>
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zona</th>
		</tr>
		<tr>
			<td>SO 123 456</td>
			<td>2019-12-18 10:30:00</td>
			<td align="right">130</td>
			<td>DA</td>
			<td>crvena</td>
		</tr>
		<tr>
			<td>NS 222 333</td>
			<td>2019-12-17 15:00:00</td>
			<td align="right">45</td>
			<td>NE</td>
			<td>bela</td>
		</tr>
		<tr>
			<td>BG 444 555</td>
			<td>2019-12-16 19:00:00</td>
			<td align="right">90</td>
			<td>NE</td>
			<td>plava</td>
		</tr>
		<tr>
			<td>NS 666 777</td>
			<td>2019-12-16 07:45:00</td>
			<td align="right">20</td>
			<td>NE</td>
			<td>crvena</td>
		</tr>
		<tr>
			<td>SU 888 999</td>
			<td>2019-12-17 10:20:00</td>
			<td align="right">150</td>
			<td>NE</td>
			<td>crvena</td>
		</tr>
		<tr>
			<td>BG 111 222</td>
			<td>2019-12-18 11:00:00</td>
			<td align="right">150</td>
			<td>DA</td>
			<td>plava</td>
		</tr>
	</table>
</body>
</html>