<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Parking karte</title>
</head>
<body>
<form method="get" action="ParkingKarte/Zadatak3" >
<table   align="center"  class="tabela">
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zonas</th>
		</tr>
		<tr th:each="itparkingK, status: ${parkinzi}">
			<td><a th:href="|ParkingKarte/Details?id=${itparkingK.id}|" th:text="${itparkingK.registracija}" ></a></td>
			<td th:text="${itparkingK.pocetakParkinga }"></td>
			<td align="right" th:text="${itparkingK.trajanjeUMinutima}">130</td>
			<td th:text="${itparkingK.osobaSaInvaliditetom}"></td>
			<td th:text="${itparkingK.zona.naziv}" ></td>
		</tr>
	</table>
	<p align="center" th:text="${'Ukupna cena je '+ukupnaCena}">Ukupna cena je</p>
	
</form>
</body>
</html>