<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Parking karte</title>
</head>
<body>
<form method="get" >
<table class="tabela">
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zonas</th>
		</tr>
			<tr>
				<th></th>
				<th>
					od:<input type="number" th:value="${param.trajanjeOD?: '0'}" min="0" step="5" name="trajanjeOD"/><br/>
					do:<input type="number" th:value="${param.trajanjeDO?: '500'}" min="0" step="5" name="trajanjeDO"/>
				</th>
				<th><input type="submit" value="Pretraži"/></th>
		
		<tr th:each="itparkingK, status: ${parkinzi}">
			<td th:text="${itparkingK.registracija}" ></td>
			<td th:text="${itparkingK.pocetakParkinga }"></td>
			<td align="right" th:text="${itparkingK.trajanjeUMinutima}">130</td>
			<td th:text="${itparkingK.osobaSaInvaliditetom}"></td>
			<td th:text="${itparkingK.zona.naziv}" ></td>
		</tr>
	</table>
	
	
</form>
</body>
</html>