<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Parking karte</title>
</head>
<body>
	<form method="post" action="Edit">
	<input type="hidden" name="id" th:value="${parkingKarta.id}">
<table class="tabela">
			<tr><td>Registarska oznaka vozila</td><td><input type="text" name="registracija" th:value="${parkingKarta.registracija}"/></td></tr>
			<tr><td>Početak parkinga</td><td><input type="text" name="pocetakParkinga" th:value="${parkingKarta.pocetakParkinga}" /></td></tr>
			<tr><td>Trajanje u minutima</td><td><input type="text" name="trajanjeUMinutima" th:value="${parkingKarta.trajanjeUMinutima}"/></td></tr>
			<tr>
				<td>Osoba sa invaliditetom</td>
				<td>
					<input type="radio" name="osobaSaInvaliditetom" th:value="${'DA'}" th:checked="${parkingKarta.osobaSaInvaliditetom=='DA'}" /> DA
					<input type="radio"name="osobaSaInvaliditetom" th:value="${'NE'}" th:checked="${parkingKarta.osobaSaInvaliditetom=='NE'}" /> NE
				</td>
			</tr>
			<tr>
				<td>Zona</td>
				<td>
					<select name="zonaId">
							<option th:each="itZona : ${zone}" th:name="zonaId" th:value="${itZona.id}" th:text="${itZona.naziv}" th:selected="${#lists.contains(parkingKarta.zona.naziv, itZona.naziv )}"  ></option>
					</select>
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="Delete" >
		<input type="hidden" name="id" th:value="${parkingKarta.id}">
		<table class="forma">
			<tr><td></td><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
	</body>
	</html>